* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary_text: #FAF9F8;
  --secondary_text: #E5E7EB;
  --dark_blue: #1F2937;
  --blue: #3882F6;

  /* Font-family */
  --roboto_black: "Roboto, Black";
  --roboto_bold: "Roboto, Bold";
  --roboto_regular: "Roboto, Regular";
  --roboto_light_italic: "Roboto, LightItalic";
}

body {
  font-family: var(--roboto_regular);
  font-size: 1rem;
}

.container {
  width: 60vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--secondary_text);
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

/******* Header *******/

.header {
  background-color: var(--dark_blue);
  color: var(--primary_text);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.header-logo {
  font-size: 1.5rem;
}

.header-links {
  font-size: 1.125rem;
  display: flex;
  gap: 2rem
}

.hero-main {
  display: flex;
  padding: 5rem 0;
  gap: 5rem;
}

.hero-text {
  flex: 1;
}

.hero-text>h1 {
  font-size: 3rem;
  font-family: var(--roboto_black);
  margin-bottom: 1rem;
}

.hero-text>p {
  font-size: 1.125rem;
  color: var(--secondary_text);
  margin-bottom: 1rem;
}

.hero-text>button {
  background-color: var(--blue);
  color: var(--primary_text);
  font-family: var(--roboto_regular);
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.hero-image {
  background-color: grey;
  display: flex;
  flex: 1.5;
  justify-content: center;
  align-items: center;
}

/******* Header *******/


/******* Info-Section *******/

.info-section {
  padding: 2.5rem 0;
  margin-bottom: 2.5rem;
}

.info-section h1 {
  font-family: var(--roboto_bold);
  color: var(--dark_blue);
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

.items {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.illustration {
  border: 0.2rem solid var(--blue);
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

/******* Info-Section *******/


/******* Quote-Article *******/

.quote-article {
  background-color: var(--secondary_text);
}

.quote {
  padding: 5rem 0;
  color: var(--dark_blue);
}

.quote-text {
  font-family: var(--roboto_light_italic);
  font-size: 1.5rem;
}

.quote-author {
  font-family: var(--roboto_bold);
  font-size: 1.25rem;
  text-align: end;
}

/******* Quote-Article *******/


/******* SignUp-Section *******/

.signUp-content {
  background-color: var(--blue);
  margin: 5rem 0;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signUp-text h1 {
  font-size: 1.25rem;
  color: var(--primary_text);
}

.signUp-text p {
  color: var(--secondary_text);
}

.signUp-content>button {
  background-color: var(--blue);
  color: var(--primary_text);
  font-family: var(--roboto_regular);
  padding: 0.4rem 0.6rem;
  border: 0.1rem solid var(--primary_text);
  border-radius: 0.4rem;
}

/******* SignUp-Section *******/


/******* Copyright Footer*******/

.copyright-footer {
  background-color: var(--dark_blue);
}

.copyright-footer p {
  padding: 2.5rem 0;
  text-align: center;
}

/******* Copyright Footer*******/